body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border: none;
  background-color: #00cc2c;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #005f99;
}

ul {
  list-style-type: none;
  padding: 0;
}
